/* Temp */
.wip-div{
  background-color: #ffd700;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  text-align: center;
  margin: 0;
}
/* Navbar */
#warning_nav {
  background-color: #ffd700;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Main Div */
.main_div {
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
/* Division 1 */
.main_div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#heading-1 {
  font-size: 50px;
}
.header-line{
  border: dotted 4px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 25px 30% 15px;
}
/* Website Hyperlink */
.website_hyperlink{
  text-align: left;
  padding: 0 5%;
}
.website-para{
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 18px;
}
.website-para:hover{
  color: black;
}
#link-supersite {
  text-decoration: none;
  font-size: 25px;
  color: black;
}
#click-here-super {
  margin: 0;
}
/* Division 2 */
.header_div2{
  padding-left: 20%;   
}
.main-img {
  width: 400px;
}
/* Socials */
.social_div {
  text-align: center;
  padding-top: 25px;
  padding-right: 30px;
}
.social-button {
  padding: 0 5px;
}
.icon-button {
  height: 40px;
  border-radius: 100%;
}
/* About Me */
.about-main{
  text-align: center;
  background-color: black;
  color: white;
  padding: 80px 10%;
}
.about-head{
  font-size: 2rem;
  font-weight: 630;
}
.about-para{
  font-size: 1.1rem;
  font-style: italic;
}
/* Contact Me */
.contact-me{
  text-align: center;
  padding: 80px 10%;
}
.contact-head{
  font-size: 1.8rem;
  font-weight: 630;
}
.contact-para{
  font-size: 1.1rem;
  font-style: italic;
  margin: 0 10px;
}
.mail-button{
  background-color: black;
  color: white;
  font-size: 1.8rem;
  padding: 5px 30px;
  border: 5px black solid;
}
.mail-button:hover{
  background-color: white;
  color: black;
  font-size: 1.8rem;
  padding: 5px 30px;
  border: 5px black solid;
}